<connectionStrings>
  
  <!--connection string for security
      copied from web config file - line 12 and deleted from there afte-->
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WebApp-20210110080631.mdf;Initial Catalog=aspnet-WebApp-20210110080631;Integrated Security=True" providerName="System.Data.SqlClient" />
  <!--connection string for database-->

  <add name ="ChinookDB"
       connectionString="Data Source=.; Initial Catalog = Chinook; Integrated Security=true"
       providerName ="System.Data.SqlClient"/>
  
</connectionStrings>
